* {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
}

.container-fluid {
    padding-left: 0 !important;
    margin-left: 0 !important;
}

.vw-100 {
    width: 100vw;
}

.vh-5 {
   margin-top: -30%;
}

.vh-20 {
    height: 20vh;
}

.bg-dark {
    background-color: #0E1C36 !important;
}

.bg-red {
    background-color: #AD2831;
}

.bg-white, bg-light {
    background-color: #F7F7FF;
}

.nav-link, .text-bright-red {
    color: #e00c1b !important;
    font-weight: bold;
}